.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar-center .nav-links li a {
    text-decoration: none;
    color: white;
}

.navbar-center .nav-link li {
    margin-right: 1rem;
}

.navbar-center .nav-link a {
    color: #fff;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: right;
}

.navbar-right .contact, .navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
}