:root {
    --primary-green: #00703c;
    --emerald: #2ecc71;
    --soft-white: #f4f7f6;
    --dark-text: #2c3e50;
    --border-color: #ddd;
}

body {
    background-color: #50c878;
}

/* GRID SECTION */
.home-section .info p {
    color: black;
}

.home-section .container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: gold;
    padding: 10px;
    margin: 0 auto;
    max-width: 70%;
    margin-top: 50px;
    gap: 30px;
}

.home-section .container div {
    background-color: #50c878;
    color: black;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.home-section .container a {
    text-decoration: none;
    font-weight: bold;
}