.form-section p, .form-section ul li {
    font-size: var(--p-font-size);
    color: black;
}

/* List Design */
.form-section .form ul li {
    list-style-type: none;
}

.form-section .form .index h3 {
    font-weight: bold;
    color: black;
}

/* Grid Design */
.form-grid {
    /* this controls the entire form */
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color:gold; */
    padding: 10px;
    gap: 40px 40px;
    margin-left: 155px;
    grid-template-columns: repeat(2, 0.4fr);
    justify-items: start;
}

.form-grid div label {
    /* this affects the labels */
    color: black;
    padding-right: 10px;
}

.form-grid div {
    /* this acts like an invisible box for each */
    background-color: none;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-grid div input {
    
}

/* HR TABLE DESIGN */
.hr #header {
    display: inline;
}

.hr #header th {
    border: 1px solid black;
    margin-left: 200px;
    color: black;
    padding: auto;
    padding: 20px;
}

.hr #header #monitored {
    padding-right: 618px;
}