.form-section p, .form-section ul li {
    font-size: var(--p-font-size);
    color: black;
}

/* List Design */
.form-section .form ul li {
    list-style-type: none;
}

.form-section .form .index h3 {
    font-weight: bold;
    color: black;
}

/* From Grid Design */
.form-grid {
    display: grid;
    width: 70%;
    justify-content: center;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
}

.form-grid label {
    color: black;
    justify-self: left;
    margin-bottom: 20px;
    padding-left: 40px;
}

.form-grid input {
    margin-bottom: 20px;
    border-radius: 20px;
    opacity: 70%;
    padding-left: 20px;
    padding-right: 20px;
}

/* HR TABLE DESIGN */
.hr #header {
    display: inline;
}

.hr #header th {
    border: 1px solid black;
    margin-left: 200px;
    color: black;
    padding: auto;
    padding: 20px;
}

.hr #header #monitored {
    padding-right: 618px;
}